<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Cars API</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search..." [(ngModel)]="searchTerm" animated="true" (ionChange)="inputChange()"></ion-searchbar>
  <ion-item>
    <ion-label>Search by</ion-label>
    <ion-select interface="popover" [(ngModel)]="search_by">
      <ion-select-option value="Make">Make</ion-select-option>
      <ion-select-option value="Model">Model</ion-select-option>
      <ion-select-option value="Year">Year</ion-select-option>
      <ion-select-option value="Category">Category</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-list *ngFor="let c of cars">
    <ion-item [routerLink]="['/car-detail/', c.objectId]">
      <ion-label>
        {{c.Make}}
      </ion-label>
      <p>{{c.Year}}</p>
    </ion-item>
  </ion-list>

</ion-content>
