<ion-content padding class="background">

  <div style="text-align: center;color: white;font-size: larger;">
    <h1><b>Home</b></h1>
  </div>

  <div id="container">
    <strong style="color: white;font-size: larger;">Welcome</strong>
    <br><br><br><br><br><br><br><br><br>
    <div id="btns">
      <ion-button color="primary" expand="full" routerLink="/car-list">Search cars</ion-button>
      <br>
      <ion-button color="warning" expand="full" routerLink="/favorite">Favorite cars</ion-button>
    </div>
  </div>
</ion-content>
